<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" [style]="{'display': 'inline', 'float': 'none'}" text="Icon">
  </rz-heading>
  <rz-link #link0 path="https://github.com/akorchev/angular.radzen.com/blob/master/meta/pages/icon.json" text="[source code]">
  </rz-link>
  <rz-heading #heading0 size="H4" text="This page demonstrates Icon component.">
  </rz-heading>
  <rz-card #card0 [style]="{'height': '600px'}">
    <div class="row">
      <div class="col-md-6">
        <rz-heading #heading3 size="H3" [style]="{'marginTop': '20px'}" text="Material Icons">
        </rz-heading>
        <rz-icon #icon0 icon="accessibility">
        </rz-icon>
        <rz-icon #icon9 icon="3d_rotation">
        </rz-icon>
        <rz-icon #icon8 icon="accessible">
        </rz-icon>
        <rz-icon #icon7 icon="account_balance">
        </rz-icon>
        <rz-icon #icon6 icon="account_balance_wallet">
        </rz-icon>
        <rz-icon #icon5 icon="account_box">
        </rz-icon>
        <rz-icon #icon4 icon="account_circle">
        </rz-icon>
        <rz-icon #icon3 icon="add_shopping_cart">
        </rz-icon>
        <rz-icon #icon2 icon="alarm">
        </rz-icon>
        <rz-icon #icon1 icon="alarm_add">
        </rz-icon>
        <rz-icon #icon12 icon="alarm_off">
        </rz-icon>
        <rz-icon #icon11 icon="alarm_on">
        </rz-icon>
        <rz-icon #icon10 icon="all_out">
        </rz-icon>
        <rz-icon #icon16 icon="android">
        </rz-icon>
        <rz-icon #icon15 icon="announcement">
        </rz-icon>
        <rz-icon #icon14 icon="aspect_ratio">
        </rz-icon>
        <rz-icon #icon13 icon="assessment">
        </rz-icon>
        <rz-icon #icon31 icon="assignment">
        </rz-icon>
        <rz-icon #icon30 icon="assignment_ind">
        </rz-icon>
        <rz-icon #icon29 icon="assignment_late">
        </rz-icon>
        <rz-icon #icon28 icon="assignment_return">
        </rz-icon>
        <rz-icon #icon27 icon="assignment_returned">
        </rz-icon>
        <rz-icon #icon26 icon="assignment_turned_in">
        </rz-icon>
        <rz-icon #icon25 icon="autorenew">
        </rz-icon>
        <rz-icon #icon24 icon="backup">
        </rz-icon>
        <rz-icon #icon23 icon="book">
        </rz-icon>
        <rz-icon #icon22 icon="bookmark">
        </rz-icon>
        <rz-icon #icon21 icon="bookmark_border">
        </rz-icon>
        <rz-icon #icon20 icon="bug_report">
        </rz-icon>
        <rz-icon #icon19 icon="build">
        </rz-icon>
        <rz-icon #icon18 icon="cached">
        </rz-icon>
        <rz-icon #icon17 icon="camera_enhance">
        </rz-icon>
        <rz-icon #icon47 icon="card_giftcard">
        </rz-icon>
        <rz-icon #icon46 icon="card_membership">
        </rz-icon>
        <rz-icon #icon45 icon="card_travel">
        </rz-icon>
        <rz-icon #icon44 icon="change_history">
        </rz-icon>
        <rz-icon #icon43 icon="check_circle">
        </rz-icon>
        <rz-icon #icon42 icon="chrome_reader_mode">
        </rz-icon>
        <rz-icon #icon41 icon="class">
        </rz-icon>
        <rz-icon #icon40 icon="code">
        </rz-icon>
        <rz-icon #icon39 icon="compare_arrows">
        </rz-icon>
        <rz-icon #icon38 icon="copyright">
        </rz-icon>
        <rz-icon #icon37 icon="credit_card">
        </rz-icon>
        <rz-icon #icon36 icon="dashboard">
        </rz-icon>
        <rz-icon #icon35 icon="date_range">
        </rz-icon>
        <rz-icon #icon34 icon="delete">
        </rz-icon>
        <rz-icon #icon33 icon="delete_forever">
        </rz-icon>
        <rz-icon #icon32 icon="description">
        </rz-icon>
        <rz-icon #icon64 icon="dns">
        </rz-icon>
        <rz-icon #icon65 icon="done">
        </rz-icon>
        <rz-icon #icon66 icon="done_all">
        </rz-icon>
        <rz-icon #icon67 icon="donut_large">
        </rz-icon>
        <rz-icon #icon68 icon="donut_small">
        </rz-icon>
        <rz-icon #icon69 icon="eject">
        </rz-icon>
        <rz-icon #icon70 icon="euro_symbol">
        </rz-icon>
        <rz-icon #icon71 icon="event">
        </rz-icon>
        <rz-icon #icon72 icon="event_seat">
        </rz-icon>
        <rz-icon #icon73 icon="exit_to_app">
        </rz-icon>
        <rz-icon #icon74 icon="explore">
        </rz-icon>
        <rz-icon #icon75 icon="extension">
        </rz-icon>
        <rz-icon #icon76 icon="face">
        </rz-icon>
        <rz-icon #icon77 icon="favorite">
        </rz-icon>
        <rz-icon #icon78 icon="favorite_border">
        </rz-icon>
        <rz-icon #icon79 icon="feedback">
        </rz-icon>
        <rz-icon #icon48 icon="find_in_page">
        </rz-icon>
        <rz-icon #icon49 icon="find_replace">
        </rz-icon>
        <rz-icon #icon50 icon="fingerprint">
        </rz-icon>
        <rz-icon #icon51 icon="flight_land">
        </rz-icon>
        <rz-icon #icon52 icon="flight_takeoff">
        </rz-icon>
        <rz-icon #icon53 icon="flip_to_back">
        </rz-icon>
        <rz-icon #icon54 icon="flip_to_front">
        </rz-icon>
        <rz-icon #icon55 icon="g_translate">
        </rz-icon>
        <rz-icon #icon56 icon="gavel">
        </rz-icon>
        <rz-icon #icon57 icon="get_app">
        </rz-icon>
        <rz-icon #icon58 icon="gif">
        </rz-icon>
        <rz-icon #icon59 icon="grade">
        </rz-icon>
        <rz-icon #icon60 icon="group_work">
        </rz-icon>
        <rz-icon #icon61 icon="help">
        </rz-icon>
        <rz-icon #icon62 icon="help_outline">
        </rz-icon>
        <rz-icon #icon63 icon="highlight_off">
        </rz-icon>
        <rz-icon #icon80 icon="history">
        </rz-icon>
        <rz-icon #icon81 icon="home">
        </rz-icon>
        <rz-icon #icon82 icon="hourglass_empty">
        </rz-icon>
        <rz-icon #icon83 icon="hourglass_full">
        </rz-icon>
        <rz-icon #icon84 icon="http">
        </rz-icon>
        <rz-icon #icon85 icon="https">
        </rz-icon>
        <rz-icon #icon86 icon="important_devices">
        </rz-icon>
        <rz-icon #icon87 icon="info">
        </rz-icon>
        <rz-icon #icon88 icon="info_outline">
        </rz-icon>
        <rz-icon #icon89 icon="input">
        </rz-icon>
        <rz-icon #icon90 icon="invert_colors">
        </rz-icon>
        <rz-icon #icon91 icon="label">
        </rz-icon>
        <rz-icon #icon92 icon="label_outline">
        </rz-icon>
        <rz-icon #icon93 icon="language">
        </rz-icon>
        <rz-icon #icon94 icon="launch">
        </rz-icon>
        <rz-icon #icon95 icon="lightbulb_outline">
        </rz-icon>
        <rz-icon #icon96 icon="line_style">
        </rz-icon>
        <rz-icon #icon97 icon="line_weight">
        </rz-icon>
        <rz-icon #icon98 icon="list">
        </rz-icon>
        <rz-icon #icon99 icon="lock">
        </rz-icon>
        <rz-icon #icon100 icon="lock_open">
        </rz-icon>
        <rz-icon #icon101 icon="lock_outline">
        </rz-icon>
        <rz-icon #icon102 icon="loyalty">
        </rz-icon>
        <rz-icon #icon103 icon="markunread_mailbox">
        </rz-icon>
        <rz-icon #icon104 icon="motorcycle">
        </rz-icon>
        <rz-icon #icon105 icon="note_add">
        </rz-icon>
        <rz-icon #icon106 icon="offline_pin">
        </rz-icon>
        <rz-icon #icon107 icon="opacity">
        </rz-icon>
        <rz-icon #icon108 icon="open_in_browser">
        </rz-icon>
        <rz-icon #icon109 icon="open_in_new">
        </rz-icon>
        <rz-icon #icon110 icon="open_with">
        </rz-icon>
        <rz-icon #icon111 icon="pageview">
        </rz-icon>
        <rz-link #link1 path="https://material.io/tools/icons/" text="More icons...">
        </rz-link>
      </div>
      <div class="col-md-6">
        <rz-heading #heading1 size="H3" text="Events">
        </rz-heading>
        <rz-card #card1 [style]="{'height': '500px'}">
          <rz-html #html0>
            <div style="overflow:auto;height:100%">
              N/A
            </div>
          </rz-html>
        </rz-card>
      </div>
    </div>
  </rz-card>
</rz-content>
