<rz-header #header0>
  <div class="row justify-content-start align-items-center">
    <div class="col-md-6 d-flex align-items-center">
      <rz-sidebar-toggle #sidebarToggle0>
      </rz-sidebar-toggle>
      <rz-label #label0 text="Radzen Angular Components">
      </rz-label>
    </div>
    <div class="col-md-6 text-lg-right">
    </div>
  </div>
</rz-header>
<rz-body #body0>
  <rz-content-container #main name="main">
  </rz-content-container>
</rz-body>
<rz-sidebar #sidebar0>
  <rz-panelmenu #panelmenu0 [style]="{'height': '100%'}">
    <rz-panelmenu-item text="Layout">
      <rz-panelmenu-item path="menu" text="Menu">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="panel-menu" text="PanelMenu">
      </rz-panelmenu-item>
    </rz-panelmenu-item>
    <rz-panelmenu-item text="General">
      <rz-panelmenu-item path="button" text="Button">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="google-map" text="GoogleMap">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="gravatar" text="Gravatar">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="icon" text="Icon">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="image" text="Image">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="link" text="Link">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="login" text="Login">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="progress-bar" text="ProgressBar">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="split-button" text="SplitButton">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="upload" text="Upload">
      </rz-panelmenu-item>
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Containers">
      <rz-panelmenu-item path="accordion" text="Accordion">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="card" text="Card">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="fieldset" text="Fieldset">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="panel" text="Panel">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="steps" text="Steps">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="tabs" text="Tabs">
      </rz-panelmenu-item>
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Forms">
      <rz-panelmenu-item path="auto-complete" text="AutoComplete">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="check-box" text="CheckBox">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="check-box-list" text="CheckBoxList">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="date-picker" text="DatePicker">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="drop-down" text="DropDown">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="drop-down-data-grid" text="DropDownDataGrid">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="file-input" text="FileInput">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="form" text="Form">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="label" text="Label">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="list-box" text="ListBox">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="mask" text="Mask">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="numeric" text="Numeric">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="password" text="Password">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="radio-button-list" text="RadioButtonList">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="rating" text="Rating">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="select-bar" text="SelectBar">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="slider" text="Slider">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="template-form" text="TemplateForm">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="text-area" text="TextArea">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="text-box" text="TextBox">
      </rz-panelmenu-item>
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Data">
      <rz-panelmenu-item path="data-grid" text="DataGrid">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="data-list" text="DataList">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="pick-list" text="PickList">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="scheduler" text="Scheduler">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="tree" text="Tree">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="tree-grid" text="TreeGrid">
      </rz-panelmenu-item>
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Charts">
      <rz-panelmenu-item path="area-chart" text="AreaChart">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="bar-chart" text="BarChart">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="donut-chart" text="DonutChart">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="gauge" text="Gauge">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="line-chart" text="LineChart">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="pie-chart" text="PieChart">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="sparkline" text="Sparkline">
      </rz-panelmenu-item>
    </rz-panelmenu-item>
  </rz-panelmenu>
</rz-sidebar>
<rz-footer #footer0>
  <rz-label #footerText text="RadzenAngularComponents, Copyright &copy; 2019">
  </rz-label>
</rz-footer>
<router-outlet></router-outlet>
