<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" [style]="{'display': 'inline', 'float': 'none'}" text="Image">
  </rz-heading>
  <rz-link #link0 path="https://github.com/akorchev/angular.radzen.com/blob/master/meta/pages/image.json" text="[source code]">
  </rz-link>
  <rz-heading #heading0 size="H4" text="This page demonstrates Image component.">
  </rz-heading>
  <rz-card #card0 [style]="{'height': '600px'}">
    <div class="row">
      <div class="col-md-6">
        <rz-heading #heading2 size="H3" text="Image from application assets">
        </rz-heading>
        <rz-image #image0 path="/assets/images/radzen.png" (click)="image0Click($event)">
        </rz-image>
        <rz-heading #heading3 size="H3" [style]="{'marginTop': '20px'}" text="Image from url">
        </rz-heading>
        <rz-image #image1 path="https://www.radzen.com/assets/hero-40b90af93c7bda2d44608c74e2b8eeb6785e273e02340ec44583d097b5dfb896.png" [style]="{'width': '100%'}" (click)="image1Click($event)">
        </rz-image>
      </div>
      <div class="col-md-6">
        <rz-heading #heading1 size="H3" text="Events">
        </rz-heading>
        <rz-card #card1 [style]="{'height': '500px'}">
          <rz-html #html0>
            <div style="overflow:auto;height:100%">
              <div *ngFor="let event of events?.reverse()">
                  {{ event }} clicked
              </div>
            </div>
          </rz-html>
        </rz-card>
      </div>
    </div>
  </rz-card>
</rz-content>
